doctype html
html
  head
    meta(http-equiv='Content-Type', const='text/html;charset=UTF-8')
    link(href='http://fonts.googleapis.com/css?family=Comfortaa', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
    script(src='/socket.io/socket.io.js')
    title Chat App
  body
    header
      h1 Chat App
    section
      #change_username
        input#username(type='text')
        button#send_username(type='button') Change username
    section#chatroom
      section#feedback
    section#input_zone
      input#message.vertical-align(type='text')
      button#send_message.vertical-align(type='button') Send
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='chatio.js')
